/*! colors v2.0.4 | mit license | clrs.cc */
$clrs: (
	aqua:    #7fdbff,
	blue:    #0074d9,
	navy:    #001f3f,
	teal:    #39cccc,
	green:   #2ecc40,
	olive:   #3d9970,
	lime:    #01ff70,
	yellow:  #ffdc00,
	orange:  #ff851b,
	red:     #ff4136,
	fuchsia: #f012be,
	purple:  #b10dc9,
	maroon:  #85144b,
	white:   #ffffff,
	silver:  #dddddd,
	gray:    #aaaaaa,
	black:   #111111
);

$imas: (
	red:         #e22b30,
	blue:        #2743d2,
	white:       #d3dde9,
	orange:      #f39939,
	green:       #01a860,
	purple:      #9238be,
	pink:        #fd99e1,
	black:       #515558,
	yellow:      #ffe43f,
	yellowgreen: #b4e04b,
	carmine:     #a6126a,
	cyan:        #01adb9
);
